<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.source.subscity">

    <application
        android:name=".SubsCityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="df22a2da753e542199a3247a4ceec3e927d4522a" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBdMF5C9dMyuE-fopbHlzfqUsJ7Fm6I4BI" />

        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="spb.subscity.ru"
                    android:scheme="https" />
                <data
                    android:host="msk.subscity.ru"
                    android:scheme="https" />
                <data
                    android:host="subscity.ru"
                    android:scheme="https" />

            </intent-filter>
        </activity>
        <activity
            android:name=".ui.movie.MovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.cinema.CinemaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.city.CityActivity"
            android:label="@string/city_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.youtube.YouTubeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|keyboard"
            android:theme="@style/AppTheme.YouTube" />
        <activity
            android:name=".ui.cinemasmap.CinemasMapActivity"
            android:label="@string/cinemas_map_title" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>