<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markus.subscity">

    <application
        android:name="com.markus.subscity.SubsCityApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="df22a2da753e542199a3247a4ceec3e927d4522a" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAHl2dCBYq39cjJmi-o1lS1vH63vRdNNWg" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="spb.subscity.ru"
                    android:scheme="https" />
                <data
                    android:host="msk.subscity.ru"
                    android:scheme="https" />
                <data
                    android:host="subscity.ru"
                    android:scheme="https" />

            </intent-filter>
        </activity>

        <activity android:name="com.markus.subscity.ui.main.MainActivity" />

        <activity
            android:name="com.markus.subscity.ui.movie.MovieActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.markus.subscity.ui.cinema.CinemaActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.markus.subscity.ui.city.CityActivity"
            android:label="@string/city_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.markus.subscity.ui.youtube.YouTubeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|smallestScreenSize|keyboard"
            android:theme="@style/AppTheme.YouTube" />

        <activity
            android:name="com.markus.subscity.ui.cinemasmap.CinemasMapActivity"
            android:label="@string/cinemas_map_title" />

        <activity
            android:name="com.markus.subscity.ui.about.AboutActivity"
            android:label="@string/about_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.markus.subscity.ui.donate.DonateActivity"
            android:label="@string/donate_title"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_export_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/exported_file_paths" />
        </provider>

    </application>

</manifest>